[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
pylint-django = "*"
v = {editable = true,version = "*"}
black = "*"

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
psycopg2 = "*"
django-heroku = "*"
django-crispy-forms = "*"
whitenoise = "*"
djangorestframework = "*"
python-telegram-bot = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
